@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
	color: white;
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(35,35,35);
	overflow-x: hidden;
}

#loading {
	width: 100%;
	box-sizing: border-box;
	/*width: min(calc(100vw - 20px), 400px);*/
	height: min(calc((100vw - 20px)*1.5), 600px);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: black;
}

#imgContainer {
	position: absolute;
	/*top: 0;*/
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	/*height: 100%;*/
	z-index: 1;

	width: 100%;
	box-sizing: border-box;
	/*height: min(calc((100vw - 20px)*1.5), 600px);*/

	top: 35%;
	transform: translateY(-35%);
}

#hintsContainer {
	/*overflow: auto;*/
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column-reverse;
	left: 0;
	height: calc(100% - 80px);
	z-index: -1;
	width: 100%;
	/*
	user-select: none;
	-webkit-overflow-scrolling: touch;
	*/
	pointer-events: none;
}

#hints {
	list-style: none;
	border-radius: 20px 20px 0 0;

	background-color: rgb(15,15,15);
	width: calc(100% - 40px);
	padding: 20px;
	z-index: -1;
}

#hints p {
	padding: 3px;
	/*border-top: 2px solid rgb(50,50,50);*/
	width: 100%;
	margin: 0;
	text-align: left;	
}

#guessInput {
	/*width: min(calc(100vw - 40px), 370px);*/
	width: 100%;
	box-sizing: border-box;
	border: 2px solid rgb(50,50,50);
	padding: 10px;
	border-radius: 5px;
	font-size: 20px;
	margin-top: 10px;
	color: black;
	pointer-events: auto;
}

#moviePoster {
	/*width: min(calc(100vw - 20px), 400px);*/
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	height: auto;
	clip-path: inset(0);
}

.moviePosterBlurredBg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	filter: blur(75px) brightness(50%);
	z-index: 1;
}

#guessButton {
	/*width: min(calc(100vw - 20px), 400px);*/
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 10px;
	border: none;
	background-color: #1B82B4;
	box-shadow: inset 0px -4px 0px rgba(0,0,0,0.5);
	font-size: 20px;
	margin-top: 10px;
	pointer-events: auto;
}

#guessButton:hover {
	box-shadow: inset 0px -5px 0px rgba(0,0,0,0.6);
}

#guessButton:active {
	box-shadow: inset 0px -4px 0px rgba(0,0,0,0.5);
}

.vertContainer {
	display: block;
	position: relative;
	height: min(calc(100vh - 40px), calc(1200px - 40px));
	width: 100%;
	scroll-snap-align: start;
	margin: 0;
	clip-path: inset(0);
}

.vert {
	display: flex;

	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;

	flex-direction: column;
	justify-content: center;
	text-align: center;
}

#phoneContainer {
	position: relative;
	margin: 0 auto;
	display: block;
	/*
	display: flex;
	flex-direction: column;*/
	/*padding: 0 40px;*/
	margin-top: 20px;
	height: min(calc(100vh - 40px), calc(1200px - 40px));
	width: min(calc(100vw - 70px), calc(500px - 80px));
	background-color: rgb(25,25,25);

	z-index: 0;

	border-radius: 20px;
	overflow-y: auto;
	scroll-snap-type: y mandatory;
	scrollbar-width: none;
	-ms-overflow-style: none;

	clip-path: inset(0);
	/*
	margin-left: 50vw;
	transform: translateX(-50%);
	*/
}

#phoneContainer::-webkit-scrollbar {
	display: none;
}

@media (max-width: 500px) {
	#phoneContainer {
		margin: 0;
		width: 100vw;
		height: 100vh;
		border-radius: 0;
		overflow-y: auto;
		scroll-snap-type: y mandatory;
	}

	#phoneContainer::-webkit-scrollbar {
		display: none;
	}
	.vertContainer {
		scroll-snap-align: start;
		height: 100vh;
	}
}
/*
@media (max-width: 640px) {
	#phoneContainer {
		margin-left: calc(50vw - 260px);
	}
}

@media (min-width: 641px) {
	#phoneContainer {
		margin-left: 50vw;
		transform: translateX(-50%);
	}
}
*/

.vert > * {
	display: block;
	width: 100%;
	box-sizing: border-box;
}

#disclaimer {
	width: 100%;
	color: rgb(70,70,70);
	text-align: center;
}

#guessBox {
	transition: height 0.4s;
	z-index: 2;

	position: absolute;
	bottom: 10px;
	left: 10px;
	width: calc(100% - 20px);
	height: 100%;
	display: flex;
	flex-direction: column-reverse;
	pointer-events: none;

	transition: all 0.2s;
}

.closed {
	opacity: 0;
	display: none;
}

.open {
	opacity: 1;
}

.guess0 {
	filter: blur(60px);
}
.guess1 {
	filter: blur(55px);
}
.guess2 {
	filter: blur(45px);
}
.guess3 {
	filter: blur(30px);
}
.guess4 {
	filter: blur(25px);
}
.guess5 {
	filter: blur(20px);
}

#topBar {
	margin-top: -12px;
	border-radius: 5px;
	height: 5px;
	width: 75px;
	margin-left: 50%;
	transform: translateX(-50%);
	background-color: white;
	opacity: 50%;
	z-index: 2;
}

#scrollHintsButton {
	position: absolute;
	bottom: 150px;
	width: auto;
	background-color: black;
	border: none;
	border-radius: 20px;
	padding: 15px;
	left: 50%;
	font-size: 15px;
	transform: translateX(-50%);
}
